body {
  background: linear-gradient(55deg, #1d1f22 0%, #1b1d1f 51%, #111314 85%);
} 

a:hover {
  filter: opacity(0.5);
}

* {
  transition: all 0.5s ease!important;
}

.btn {
  color: var(--bs-blue);
  font-size: 23px;
}

.btn:hover {
  color: #006bff!important;
}

.review:hover, .price:hover {
  margin-top: -10px!important;
}

.socials {
  border-radius: 10px!important;
}

.socials:hover {
  background-color: rgba(51,53,55,0.7);
  color: rgba(255,255,255,0.78)!important;
}

/* hi */



h1, img, h2, h4, h5, p, a, i, div {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fade, slide;
  animation-name: fade, slide;
}
@-webkit-keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes slide {
  0% {margin-top:30px;}
  100% {margin-bottom:default;}
}

::-webkit-scrollbar{
  width:10px;
  background-color:#1d1f22;
}
::-webkit-scrollbar:horizontal{
  height:10px;
}
::-webkit-scrollbar-track{
  border:1px #1d1f22 solid;
  border-radius:5px;
}
::-webkit-scrollbar-thumb{
  background-color:#3a3c41;
  border-radius:5px;
}
::-webkit-scrollbar-thumb:hover{
  background-color:#32343a;
}
::-webkit-scrollbar-thumb:active{
  background-color:#303237;
}